{%extends 'main/layout.html'%}
{%load static%}
{%block name %} Audi e-tron {%endblock%}
{% block content%}
<div class="eee">
<img id="full" src="{% static 'main/img/1.jpg'%}" alt="Audi E-tron">
<H1>Будущее начинается сейчас.</H1>
<H1>Audi e-tron</H1>
<p>Добро пожаловать в удивительный мир электромобилей! С Audi e-tron вы поможете миру сделать шаг в более чистое будущее. Наш первый полностью электрический SUV станет вашим надежным и безопасным спутником в наступающей новой эре.</p>
<p>Асинхронные двигатели могут поддерживать максимальную мощность 300 кВт (408 л.с.) и крутящий момент 664 Нм. Передний электродвигатель, в целях оптимизации компоновки расположенный параллельно передней оси, развивает пиковые 135 кВт и 309 Н·м. Задний двигатель, расположенный поперечно, развивает 165 кВт и 355 Н·м крутящего момента. Одноступенчатые планетарные редукторы передают тягу колесам через дифференциалы</p>
<img id="full" src="{% static 'main/img/E.jpg'%}" alt="Audi E-tron">
    <BR>
    <p>Audi e-tron обладает всеми преимуществами новейшего электромобиля и престижного современного SUV. Его интерьер очень просторный и отличается высоким качеством материалов. В салоне достаточно места для вас и ваших пассажиров, чтобы вы могли наслаждаться каждой совместной поездкой. Общий объем багажного отделения Audi e tron составляет 660 л, благодаря чему этот автомобиль отлично подходит для поездок за город в выходные.</p>
<img id="middle" src="{% static 'main/img/e2.jpg'%}" alt="Audi E-tron">
</div>
{%endblock%}